.home-gioithieu-info-wrapper {
  display: block !important;
}
.home-gioithieu-infomation-box .wd-info-box {
  padding: 10px !important;
}
.home-gioithieu-infomation-box .info-box-wrapper .wd-info-box .info-box-icon {
  width: 90px;
  height: 90px;
}
